USE [master]
GO
/****** Object:  Database [T3SJTest1]    Script Date: 7/24/2016 2:46:27 PM ******/
CREATE DATABASE [T3SJTest1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T3SJTest1', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\T3SJTest1.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'T3SJTest1_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\T3SJTest1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T3SJTest1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T3SJTest1]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 7/24/2016 2:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido1] [nvarchar](50) NOT NULL,
	[apellido2] [nvarchar](50) NULL,
	[provincia] [smallint] NOT NULL,
	[genero] [nvarchar](50) NOT NULL,
	[autorizada] [bit] NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([id], [cedula], [nombre], [apellido1], [apellido2], [provincia], [genero], [autorizada]) VALUES (6, N'01-1000-2000', N'Carlos', N'Hernandez', N'Alvarado', 3, N'Masculino', 1)
INSERT [dbo].[Persona] ([id], [cedula], [nombre], [apellido1], [apellido2], [provincia], [genero], [autorizada]) VALUES (7, N'02-0333-5555', N'Luis', N'Montero', N'Solano', 0, N'Otro', 1)
INSERT [dbo].[Persona] ([id], [cedula], [nombre], [apellido1], [apellido2], [provincia], [genero], [autorizada]) VALUES (8, N'04-5984-1542', N'Mayra', N'Bustos', N'Camacho', 4, N'Femenino', 0)
SET IDENTITY_INSERT [dbo].[Persona] OFF
USE [master]
GO
